{% extends "layout.html" %}
{% block body %}
    <figure>
	<embed type="image/svg+xml" src="/tgraph.svg" />
    </figure>
    <figure>
	<embed type="image/svg+xml" src="/hgraph.svg" />
    </figure>
    <figure>
	<embed type="image/svg+xml" src="/pgraph.svg" />
    </figure>
    <ul class=weather>
	{% for entry in weather %}
	<li><h2>{{ entry.date }}</h2>Temp: {{ entry.temperature }}, Humidity: {{ entry.humidity }}, Pressure: {{ entry.pressure }}
	{% else %}
	<li><em>No entries here so far</em>
	{% endfor %}
    </ul>
{% endblock %}
